
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>AngularJS Introduction</title>
        <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/my_angular.js" type="text/javascript"></script>
    </head>
    <body ng-app="productListApp">
        <h2>AngularJS Introduction</h2>
        
        <script type="text/javascript">
            $(document).ready(function(){
                
				//The action for the "clear products" button
				$('#clearProductsExtButton').click(function(){
					var app = document.getElementById('ProductCtrl');
					var scope = angular.element(app).scope();
					scope.$apply(function() {
						scope.clearProducts();
					});     
				});
                
            });
        </script>
    
        <button id="clearProductsExtButton">Clear Json (External Call to an AngularJS controller)</button>
        <div id="ProductCtrl" ng-controller="ProductCtrl" >
            <button ng-click="getProducts()">Get Json</button>
            <h3>Total Product Number: {{getTotalProdCount()}}</h3>
            <h3>Time Data Loaded: {{getOtherValue()}}</h3>
            <ul>
                <li ng-repeat="product in  productList">
                    <span class="prodId">{{product.prodId}}</span>
                    <span>| {{product.prodName}} | {{product.prodDesc}}</span>
                    <a href="#" showproductid >
                        Show that event handlers still work on elements dynamically loaded<br/>
                        without having to manually apply those event handlers when the data returns.
                    </a>
                    <ul>
                        <li ng-repeat="sub in product.prodSubs">
                            {{sub}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
    
</html>
